NEXT_PUBLIC_MAPTILER_STYLE_URL=
NEXT_PUBLIC_MAPTILER_KEY=
NEXT_PUBLIC_MAPTILER_MAP_ID=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_PROJECT_REF=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_PASSWORD=
DATABASE_URL=
INGEST_SECRET=
SPC_ACTUAL_TORNADOES_URL=https://www.spc.noaa.gov/wcm/data/1950-2025_actual_tornadoes.csv
